.btn {
    --btn-bg-color: var(--color-primary);
    --btn-text-color: var(--text-inverted);
    --btn-font-size: var(--font-size-1);
    --btn-bg-color-hover: oklch(from var(--btn-bg-color) calc(l * .8) c h);
    --btn-transition: background-color 0.14s ease-in-out;
    /* OUTLINE  */
    --btn-bg-color-outline: transparent;
    --btn-border-outline: 1px solid var(--color-primary);
    --btn-text-color-outline: var(--color-primary);
    background-color: var(--btn-bg-color);
    border: 1px solid var(--btn-bg-color);
    padding: 0 var(--size-2);
    cursor: pointer;
    line-height: var(--size-8);
    padding-inline: var(--size-4);
    color: var(--btn-text-color);
    font-size: var(--btn-font-size);
    border-radius: var(--radius-1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-2);
    transition: var(--btn-transition);
    span{
        white-space: nowrap;
    }
}

.btn:hover {
    background-color: var(--btn-bg-color-hover);
}

.btn:active {
    background-color: oklch(from var(--btn-bg-color) calc(l * .80) c calc(h * 1.1));
    transform: scale(0.98);
}

/* MODIFIERS  */

.btn.--expanded{
    width: 100%;
}

.btn.btn-variant-back-office {
    --btn-bg-color: var(--color-primary-opacity-10);
    --btn-text-color: var(--color-primary);
    --btn-font-size: var(--font-size-0);
    line-height: var(--size-6);
    padding-inline: var(--size-2);
    border: 1px solid var(--color-primary);
    border-radius: var(--radius-1);
}

/* OUTLINE  */

.btn.btn-outline {
    background-color: var(--btn-bg-color-outline);
    border: var(--btn-border-outline);
    color: var(--btn-text-color-outline);
    --btn-bg-color-hover: oklch(from var(--btn-text-color-outline) l c h / 0.16);
    line-height: var(--size-8);
    padding-inline: var(--size-4);

    &:hover {
        background-color: var(--btn-bg-color-hover);
    }
}

/* GHOST  */

.btn.btn-ghost {
    --btn-bg-color: transparent;
    --btn-text-color: var(--color-primary);
    --btn-bg-color-hover: var(--color-primary-opacity-10);
    border: 1px solid transparent;
}


/* SHAPE SQUARE  */

.btn.btn-shape-square {
    border-radius: var(--radius-1);
    padding: 0;
    line-height: var(--size-8);
    width: var(--size-8);
    height: var(--size-8);
}

/* COLOR SCHEME  */

.btn.btn-color-scheme-primary {
    --btn-bg-color: var(--color-primary);
    --btn-text-color: var(--text-white);
    --btn-text-color-outline: var(--color-primary);
    --btn-border-outline: 1px solid var(--color-primary);
}

.btn.btn-color-scheme-info {
    --btn-text-color: var(--text-white);
    --btn-bg-color: var(--color-info);
    --btn-text-color-outline: var(--color-info);
    --btn-border-outline: 1px solid var(--color-info);
}

.btn.btn-color-scheme-danger {
    --btn-text-color: var(--text-white);
    --btn-bg-color: var(--color-danger);
    --btn-text-color-outline: var(--color-danger);
    --btn-border-outline: 1px solid var(--color-danger);
}


/* GRADIENT  */

.btn.btn-gradient {
    --btn-text-color: var(--text-white);
    background-image: linear-gradient(135deg, var(--color-primary-active), var(--color-primary));
    border: 1px solid var(--color-primary);
}


/* SIZE  */

.btn.btn-size-sm {
    --btn-font-size: var(--font-size-0);
    line-height: var(--size-6);    
}

.btn.btn-size-lg {
    --btn-font-size: var(--font-size-2);
    line-height: var(--size-9);
    padding-inline: var(--size-5);

}