@font-face {
    font-family: "icons";
    src: url("./icons.woff?a85424f345fdbe53f86d87617287cadd") format("woff"),
url("./icons.woff2?a85424f345fdbe53f86d87617287cadd") format("woff2");
}

i[class^="lt-icon-"]:before, i[class*=" lt-icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lt-icon-envelope:before {
    content: "\f101";
}
.lt-icon-caret-down:before {
    content: "\f102";
}
.lt-icon-booking:before {
    content: "\f103";
}
